<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://52.36.228.76:3306/restaurant_app</property>
    <property name="hibernate.connection.username">aux_user@52.36.228.76</property>
    <property name="hibernate.connection.password">p@ss#ees%2015</property>
    <mapping class="model.Item"/>
    <mapping class="model.Order"/>
    <mapping class="model.OrderItem"/>
    <mapping class="model.User"/>
  </session-factory>
</hibernate-configuration>
